*{
    box-sizing: border-box;
}
body{
    margin: 10px;
    padding: 0;
    background-color: #e5f8ff;
    font-family: arial, sans-serif;
}
.header{
    text-align: center;
    position: relative;
    font-size: 1.75em;
}
.box{
    display: inline-block;
    margin: 5px;
    border: solid #000000 1px;
    background-color: rgba(165, 165, 165, 0.4);
}
.box h3{
    text-align: center;
    font-size: 1.25em;
    margin: 0;
    padding: 0 10px 0 10px;
    width: 150px;
    float: right;
    border-left: solid #000000 1px;
    border-bottom: solid #000000 1px;
}
.box p{
    padding: 15px 5px 10px 7px;
}
#box1 h3{
    background-color: #fa7570;
}
#box2 h3{
    background-color: #faf29d;
    color: #3cabe6;
}
#box3 h3{
    background-color: #a4d3fa;
}
/*Large devices only*/
@media (min-width: 992px ) {
    .box{
        width: 30.33%;
    }
}
/*Medium devices only*/
@media (min-width: 768px ) and (max-width: 991px ) {
    #box1, #box2{
        width: 48%;
    }
    #box3{
        width: 96%;
    }
}

/*Small devices only   */
@media (max-width: 767px ) {
    #box1, #box2, #box3{
        width: 100%;
    }
}